@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #414141;
  background-color: #e4f1f1;
  text-align: center;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description {
  margin: 50px auto;
}

.newsletter {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(220, 231, 93);
}

form {
  border: 5px solid #85898f;
  border-radius: 15px;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

/* Style for the input fields */
.name {
  flex: 1 0 130px;
}

.email {
  flex: 1 0 130px;
}

input {
  width: 400px;
  height: 50px;
  font-size: 22px;
  border-radius: 5px;
  border: transparent
}
input:focus {
  outline: none;
  box-shadow: #032750;
}


/* Style for the submit button */
button[type="submit"] {
  flex: 1 0 40px;
  border: solid transparent;
  border-radius: 15px;
  background-color: #0070f3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
  transition: transform 0.3s background-color 0.2s ease;
}

button[type="submit"]:hover {
  transform: scale(1.2);
  background-color: #5279a5;
}

